<h1>Movies</h1>

<%= link_to 'Add Movie', new_movie_path %>
<table class="table table-hover">
  <tr>
    <th>Movie Title</th>
    <th>Date</th>


  </tr>

  <% @movie.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.date %></td>

        <td><%= link_to 'Show', movie_path(movie) %></td>
        <td><%= link_to 'Edit', edit_movie_path(movie) %></td>
        <td><%= link_to 'Destroy', movie_path(movie),
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %></td>


      </tr>
  <% end %>

</table>

